* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#world {
    background-repeat: no-repeat;
    background-image: url("../img/background.jpg");
}

.player {
    background-image: url("../img/airplane.png");
}

.enemy {
    background-image: url("../img/enemy.png");
}

.missile {
    background-image: url("../img/missile1.png");
}

.player, .enemy, .missile {
    width: 70px;
    height: 70px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
