* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#world {
    background-repeat: no-repeat;
    background-image: url("../img/background.jpg");
}

.player {
    background-image: url("../img/airplane.png");
}

.enemy {
    background-image: url("../img/enemy.png");
}

.playerMissile {
    background-image: url("../img/missile1.png");
}

.enemyMissile {
    background-image: url("../img/missile2.png");
    transform: scale(-1);
}

.player, .enemy, .playerMissile, .enemyMissile {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.player, .enemy {
    width: 70px;
    height: 70px;
}

.playerMissile, .enemyMissile {
    width: 30px;
    height: 30px;
}
