* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#world {
    background-repeat: no-repeat;
    background-image: url("../img/ocean.jpg");
}

.player {
    background-image: url("../img/player.png");
}

.enemy {
    background-image: url("../img/enemy.png");
}

.player, .enemy {
    width: 70px;
    height: 70px;
    position: absolute;
    background-repeat: no-repeat;
}
